/* style.css */
* {
    font-family: "Inter Medium", "Symbols Nerd Font", "sans-serif;"; /* Choose your fonts */
    font-size: 12px;
    color: #f0f0f0; /* Light text color */
}

window#waybar {
    background-color: rgba(40, 40, 40, 0.8); /* Semi-transparent dark background // orignally 20 20 20 0.8 */
    border-radius: 10px; /* Rounded corners */
    /* padding: 5px; */
    /* margin: 5px; */
    margin: 0px 5px 5px 5px; /* Top margin must be 0 to align with the reserved zone */
    padding: 2px 5px; /* Reduce padding so it doesn't feel too bulky */
}

#waybar > * {
    padding: 0px 15px; /* Spacing between modules */
    margin-top: 0px;
}

#waybar > module {
    margin: 0px 5px; /* Margin around modules */
}


#clock {
    color: #8aadf4; /* Teal color for clock */
    padding: 0px 7px;
}

#pulseaudio {
    color: #eed49f; /* Yellow for volume */
    padding: 0px 7px;
}

#network {
    color: #a6da95;  /* Blue for network */
    padding: 0px 7px;
}

#battery {
    color: #90EE90; /* Light green for battery */
    padding: 0px 7px;
}

#temperature {
    color: #FF6B6B; /* Red for temperature */
    padding: 0px 7px;
}

#cpu {
    color: #ed8796; /* Orange for CPU */
    padding: 0px 7px;
}

#memory {
    color: #f5a97f; /* Purple for memory */
    padding: 0px 7px;
}

#tray {
    background-color: rgba(0,0,0,0); /* Transparent tray background */
    padding: 0px 7px;
}

/* Example of styling a specific module */
#window {
    color: #FFB347; /* Example orange color */
}

#workspaces {
    background-color: transparent;
    margin: 2px 5px;
}

#workspaces button {
    padding: 1px 8px;
    color: #cad3f5; /* Catppuccin Text */
    background-color: transparent;
    /* This creates the space for the indicator */
    border-bottom: 3px solid transparent;
    transition: all 0.3s ease;
}

/* This targets the current workspace on EACH monitor */
#workspaces button.active {
    color: #c6a0f6; /* Catppuccin Mauve */
    /* background-color: rgba(138, 160, 246, 0.45);*/ /* Subtle transparency */
    background-color: #aa7be3;
    /* border-bottom: 3px solid #c6a0f6; */
}

#workspaces button.urgent {
    color: #ed8796; /* Catppuccin Red */
    border-bottom: 3px solid #ed8796;
}

#workspaces button:hover {
    background-color: #915ccd;
}



#custom-swaync {
    color: #c6a0f6; /* Catppuccin Mauve to match your active workspace */
    padding: 0px 10px;
    font-size: 18px;
}
/* This targets the dot (the span) inside the widget */
#custom-swaync > priv-text > span {
    color: #ed8796; /* Catppuccin Red */
}