@import 'colors/macchiato.css';

* {
    border: none;
    border-radius: 0px;

    font-family: "Inter", "CommitMono Nerd Font Propo", sans-serif;
    font-weight: bold;

    min-height: 0;
    padding: 0;
    margin: 0;
}

window#waybar {
    background: transparent;
    color: #cdd6f4;
}

tooltip {
    background: @base;
    border: 1px solid @crust;
    border-radius: 12px;
}

tooltip label {
    color: @text;
    padding: 6px;
}

#workspaces {
    background-color: @base;
    padding: 5px 3px;
    margin: 0 0 0 12px;
    border-radius: 18px;
    border: 1px solid @base;
    color: @surface0;
}

#workspaces button {
    padding: 0px 6px;
    margin: 0 3px;
    border-radius: 18px;
    color: transparent;
    background-color: @base;
    transition: all 0.3s ease-in-out;    
}

#workspaces button.active {
    background-color: @blue;
    color: @base;
    min-width: 50px;
    transition: all 0.3s ease-in-out;   
    font-size: 13px; 
}

#workspaces button:hover {
    background-color: @blue;
    color: @base;
    border-radius: 16px;
    min-width: 50px;
    background-size: 400% 400%;
    
    /* transition: all 0.3s ease-in-out;   
    font-size: 13px; */
}

#workspaces button.urgent {
    background-color: @red;
    color: @base;
    border-radius: 16px;
    min-width: 50px;
    background-size: 400% 400%;
    transition: all 0.3s ease-in-out;   
/*    font-size: 13px;  */
}

#battery,
#pulseaudio,
#network,
#clock,
#custom-notification {
    background-color: @base;
    padding: 0 15px 15px;
    margin: 0 0 0 12px;
    border-radius: 50px;
    border: 1px solid @base;
}

#clock {
    color: @blue;
}

#custom-notification {
    color: @mauve; /* chosen magenta-like color */
}

#pulseaudio {
    color: @yellow;
}

#network {
    color: @blue;
}

#battery {
    color: @green;
}

